<!DOCTYPE html>
<html>
<head>
  <title>Mad Libs</title>
</head>
<body>
  <h1>MAD LIBS!</h1>
  <!-- color, animal, name, activity -->
  <form action='/madlib'>
    Enter a color:
    <input type="text" name="color"><br>
    Enter a type of animal:
    <input type="text" name="animal"><br>
    Enter a name:
    <input type="text" name="name"><br>
    Choose an activity:
    <select name="activity">
      <option value="spelunking">spelunking</option>
      <option value="snarfblatting">snarfblatting</option>
      <option value="trainspotting">trainspotting</option>
      <option value="mudding">mudding</option>
      <option value="globetrotting">globetrotting</option>
    </select><br>
    Pick a food:
    <input type="radio" name="food" value="sushi">Sushi
    <input type="radio" name="food" value="pho">Pho
    <input type="radio" name="food" value="tacos">Tacos<br>
    Choose location:
    <input type="checkbox" name="location" value="Hackbright Academy">Hackbright
                                                                      Academy
    <input type="checkbox" name="location" value="the movie theater">Movie Theater
    <input type="checkbox" name="location" value="the race track">Race Track
    <input type="checkbox" name="location" value="the city park">City Park<br>
    <input type="submit" value="Tell the story!">
  </form>
</body>
</html>


<!-- TO USE IN CSS FILE ACROSS MULTIPLE PAGES 
<link rel="icon" href="img/madlibs.ico" type="image/ico" sizes="16x16"> -->
